.main_content_wrapper {
  position: relative;
  width: 100%;
  z-index: 2;
  min-height: 400px;
  padding-top: $header_height;

  &::before {
    /* never visible - used to check MQ in jQuery */
    display: none;
    content: 'mobile';
  }
  @include MQ(M) {
    &::before {
      /* never visible - used to check MQ in jQuery */
      content: 'tablet';
    }
  }
  @include MQ(L) {
    margin-top: 0;
    &::before {
      /* never visible - used to check MQ in jQuery */
      content: 'desktop';
    }
  }
}

.account_bg{
  //background: radial-gradient(farthest-side at 10% 120%, $color_white 0, $brand_primary 900px);
}

.section_block {
  padding: 70px 0;
  display: block;
  width: 100%;
  position: relative;
}

.section_cto {
  margin-top: 30px;
  display: block;
  clear: both;
}

.section_header {
  padding-bottom: 40px;
  position: relative;
}

.section_title {
  font-size: 28px;
  margin-bottom: 15px;
  letter-spacing: -0.015em;
  line-height: 1.25;
  color: $brand_black;

  .cm_page_header & {
    margin: 0;
  }

  @include MQ(M) {
    font-size: 32px;
  }
}

.title {
  letter-spacing: -0.015em;
  line-height: 1.25;
  color: $brand_black;
  font-size: 16px;
}

.text_clipped {
  @include text_truncate();
}

.title_sm {
  font-size: 18px;

  @include MQ(M) {
    font-size: 24px;
  }
}

.title_lg {
  font-size: 24px;

  @include MQ(M) {
    font-size: 32px;
  }
}

.title_sub {
  display: inline-block;
  vertical-align: super;
  margin-left: 7.5px;
}

.edit_sub {
  font-size: 11px;
  padding: 5px 10px;
  background-color: $brand_black;
  color: $color_white;
  border-radius: 5px;
  margin-left: 5px;
  opacity: .65;
  @include transition(all .4s ease-in-out);

  &:hover, &:focus {
    opacity: 1;
  }
}

footer[role="contentinfo"] {
  width: 100%;
  clear: both;
  padding: 40px 0;
  color: $border_grey;
  background: radial-gradient(farthest-side at 50% 120%, tint(black, 5) 0, $brand_black 700px);
}

.footer_item_row {
  @include flexbox();
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;

  + .footer_item_row {
    margin-top: 20px;
  }
}

.footer_nav {
  width: 100%;
}

.footer_nav_link {
  display: inline-block;
  a {
    display: block;
    padding: 10px 15px;
  }
}

.copyright {
  color: $border_grey_dark;
  margin-top: 20px;
}

.tooltip-inner {
  font-size: 12px;
}

.content_inner {
  padding-bottom: 70px;
  //background-color: $color_white;
}

.section_group {
  display: block;
  margin-bottom: 50px;

  &:last-child {
    margin-bottom: 0;
  }
}

.section_group_header {
  display: block;
  clear: both;
  margin-bottom: 15px;
}

.info_title {
  font-size: 21px;
  margin-bottom: 20px;
  clear: both;
  color: $brand_black;
}

.insight_box {
  clear: both;
  margin-bottom: 20px;
  width: 100%;
}

.box_wrapper {
  padding: 15px;
  display: block;
  border-radius: 10px;
  width: 100%;
  border: 1px solid $border_grey;
  background-color: transparent;

  .box_filled_normal & {
    background-color: white;
    border: none;
  }
}

// Right sidebar

.paddedWrapper {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  @include flexbox();
  flex-direction: column;
}

.rightSidebarHeader {
  margin-bottom: 20px;
  line-height: 28px;
}
