<div class="auth_panel">
  <div #errorBox *ngIf="showErrorMessage || showSuccessMessage" class="error_message">
    <p>{{errorText || successText}}</p>
  </div>
  <div class="block_panel">
    <header class="pane_header">
      <h2 class="section_title font-bold">Reset Password</h2>
    </header>
    <form novalidate [formGroup]="resetPasswordForm">
      <div class=" form-group ">
        <label for="useremail" class="control-label caps_upper ">Email Address</label>
        <input name="useremail" id="useremail" type="email" class="form-control" placeholder="e.g. demo@demo.com"
               formControlName="email">
        <p *ngIf="email.hasError('pattern') && !email.hasError('required')" class="help-block text-error">Please provide
          a valid email address</p>
        <p *ngIf="email.errors?.required && (email.dirty || email.touched)" class="help-block text-error">Email is
          required</p>
      </div>
    </form>

    <div class="auth_cta ">
      <button class="btn btn-primary btn-block" [ngClass]="{'loading': btnSpinner}" (click)="reset()"
              [disabled]="resetPasswordForm.invalid || btnSpinner">
        <div class="loader_item">
          <div class="cm_spinner"></div>
        </div>
        Reset Password
      </button>
    </div>
    <div class="auth_foot_link ">
      <p>Have an account? <a [routerLink]="['/account/login']">Log In</a></p>
    </div>
  </div>

</div>
