<header class="mainHeader shadow" role="banner">
  <div class="container-fluid">
    <div class="nav_bar_wrapper">
      <div class="navbar_group nav_group_left">
        <div class="brand_img d-none d-md-block d-lg-block">
          <a href="index.html" class="logo_link">
            <a class="logo" routerLink="/"><span
              style="color: #ffffff"><img src="/assets/img/k_logo.png"
                                          style="height: 22px; width: auto; margin: -5px -15px 0 0"> HandyMan</span></a>
          </a>
        </div>
      </div>
      <div class="navbar_group nav_group_center">
        <!--<form class="navbar_search_form">-->
        <!--<input class="navbar_search_input" type="search" placeholder="Find Customers...">-->
        <!--<button class="navbar_search_btn navbar_search_submit" type="submit">-->

        <!--</button>-->
        <!--<button class="navbar_search_btn navbar_search_reset" type="reset">-->
        <!--<svg class="cust_icon icon_xs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">-->
        <!--<path d="M60.9,3.1L60.9,3.1c-1.5-1.5-4-1.5-5.5,0L32,26.5L8.7,3.1c-1.5-1.5-4-1.5-5.5,0l0,0c-1.5,1.5-1.5,4,0,5.5-->
        <!--L26.5,32L3.1,55.3c-1.5,1.5-1.5,4,0,5.5l0,0c1.5,1.5,4,1.5,5.5,0L32,37.5l23.3,23.3c1.5,1.5,4,1.5,5.5,0l0,0c1.5-1.5,1.5-4,0-5.5-->
        <!--L37.5,32L60.9,8.7C62.4,7.2,62.4,4.7,60.9,3.1z"/>-->
        <!--</svg>-->
        <!--</button>-->
        <!--</form>-->
      </div>
      <div class="navbar_group nav_group_right">
        <nav class="navMenu menu_alt">

          <!--<div class="control_btn btn_alert">-->
            <!--<a href="#">-->
              <!--<i class="material-icons">notification_important</i>-->
              <!--<span class="badge_count">3</span>-->
            <!--</a>-->
          <!--</div>-->

          <div class="nav_trigger control_btn">
            <button class="primary-nav-trigger">
                            <span class="menu-icon">
                              <!--<i class="fa fa-bars"></i>-->
                            </span>
              <span class="menu-text sr-only">Menu</span>
            </button>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
