<div class="auth_panel">
  <div #messageBox *ngIf="showErrorMessage || showSuccessMessage" class="error_message">
    <p>{{messageText}}</p>
  </div>
  <div class="block_panel">
    <header class="pane_header">
      <h2 class="section_title font-bold">One more thing</h2>
    </header>
    <form novalidate [formGroup]="loginForm">
      <div class=" form-group ">
        <label for="useremail" class="control-label caps_upper ">Phone Number</label>
        <input name="phone" id="phone" type="tel" class="form-control" placeholder="e.g. 07085827380"
               formControlName="phone">
        <p *ngIf="phone.errors?.required && (phone.dirty || phone.touched)" class="help-block text-error">Phone is
          required</p>
      </div>

      <div class="form-group ">
        <label for="password" class="control-label caps_upper">Password</label>
        <input name="password" id="password" type="password" class="form-control" formControlName="password"
               placeholder="Enter Password">
        <p *ngIf="password.errors?.required && (password.dirty || password.touched)" class="help-block text-error">
          Please enter a password</p>
      </div>
      <div class="form-group ">
        <input name="new_user" id="new_user" type="checkbox" value="true" class="checkbox" formControlName="new_user">
        <label for="new_user" class="control-label caps_upper">It is my first time here</label>
      </div>
    </form>

    <div class="auth_cta ">
      <button class="btn btn-primary" [ngClass]="{'loading': btnSpinner}" (click)="login()"
              [disabled]="loginForm.invalid || btnSpinner">
        <div class="loader_item">
          <div class="cm_spinner"></div>
        </div>
        Continue
      </button>

      <div class="cta_sub ">
        <!--<a routerLink="/account/reset-password" class="btn-link btn-block ">Forgot Password?</a>-->
      </div>
    </div>
    <div class="auth_foot_link ">
      <!--<p>Don't have an account? <a [routerLink]="['/account']">Sign Up</a>-->
      <!--</p>-->
    </div>
  </div>

</div>
